<div class="main-container">
    <h1 class="mat-display-2" style="font-weight: 900; text-align: center; margin: 15px 0; color: #fff;">Tic-tac-toe</h1>
    <div class="field d-flex justify-content-center">
        <p class="mat-display-1" style="color: #fff;"> Start the game on the button</p>
    </div>

    <div class="field d-flex justify-content-center" style="width: 100%;">
        <button mat-raised-button color="accent" class="start-game-button">Start Game Now</button>
    </div>

    <div class="gameboard">
        
    </div>
</div>